python-xlib
pyautogui
pytesseract
opencv-python-headless
numpy
requests
mem-edit
pyvirtualdisplay
pytest
fastapi
uvicorn
slowapi
pymongo
tqdm
psutil
PyJWT
scapy
xtea
protobuf==6.30.2
pydantic
flask
lxml
bbpb