python-xlib
pyautogui
pytesseract
opencv-python-headless
numpy
requests
mem-edit
pyvirtualdisplay
pytest
pytest-asyncio
fastapi
uvicorn
slowapi
pymongo
tqdm
psutil
PyJWT
xtea
protobuf==6.30.2
pydantic
flask
lxml
bbpb
mitmproxy
python-dotenv
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp